<h1>Log a new Hero</h1>

<%= form_for @hero do |f| %>
   <%= render partial: "layouts/errors", locals: {record: @hero} %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :power %>
  <%= f.text_field :power %>
  <p>Adversaries:</p>
  <%= f.fields_for :villains do |v| %>
    <p>Villain:</p>
      <%= v.label :name %>
      <%= v.text_field :name %><br/>
      <%= v.label :power %>
      <%= v.text_field :power %><br/>
      <%= v.label :power_level %>
      <%= v.number_field :power_level, in: 1..10 %><br/>
      <%= v.label :squad %>
      <%= v.collection_select :squad_id, Squad.all, :id, :name, prompt: true %>
  <% end %>


  <%= f.submit %>

<% end %>
